table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.delete{
  background-color: #e74c3c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
